In [3]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [27]:
pd.set_option('display.max_columns',None)

In [11]:
taxi = pd.read_csv("data/taxi.csv")

In [12]:
# Replace 'path/to/new-york-city-boroughs.geojson' with the actual path to your GeoJSON file
gdf = gpd.read_file("C:/Users/psaez/Downloads/new-york-city-boroughs.geojson")

In [23]:
gdf.head()

,name,cartodb_id,created_at,updated_at,geometry
0,Staten Island,1,2013-03-09 02:42:03.692000+00:00,2013-03-09 02:42:03.989000+00:00,"MULTIPOLYGON (((-74.05051 40.56642, -74.05047 ..."
1,Queens,2,2013-03-09 02:42:03.692000+00:00,2013-03-09 02:42:03.989000+00:00,"MULTIPOLYGON (((-73.83668 40.59495, -73.83678 ..."
2,Brooklyn,3,2013-03-09 02:42:03.692000+00:00,2013-03-09 02:42:03.989000+00:00,"MULTIPOLYGON (((-73.86706 40.58209, -73.86769 ..."
3,Manhattan,4,2013-03-09 02:42:03.692000+00:00,2013-03-09 02:42:03.989000+00:00,"MULTIPOLYGON (((-74.01093 40.68449, -74.01193 ..."
4,Bronx,5,2013-03-09 02:42:03.692000+00:00,2013-03-09 02:42:03.989000+00:00,"MULTIPOLYGON (((-73.89681 40.79581, -73.89694 ..."

In [21]:
gdf.columns

Index(['name', 'cartodb_id', 'created_at', 'updated_at', 'geometry'], dtype='object')

In [22]:
gdf['name']

0    Staten Island
1           Queens
2         Brooklyn
3        Manhattan
4            Bronx
Name: name, dtype: object

In [24]:
taxi['date'].max()

'2019-03-31'

In [25]:
taxi['date'].min()

'2019-02-28'

In [31]:
taxi.sample(20)

,Unnamed: 0.1,Unnamed: 0,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,date,year,month,day,hour,week_day,duration
2597,2609,2609,2019-03-28 16:03:46,2019-03-28 16:05:44,1,0.30,3.5,1.55,0.0,9.35,yellow,credit card,Upper East Side North,Upper East Side North,Manhattan,Manhattan,2019-03-28,2019,3,28,16,Thursday,1.97
5353,5380,5380,2019-03-15 18:18:23,2019-03-15 18:28:45,1,2.25,9.5,0.00,0.0,13.80,yellow,cash,Times Sq/Theatre District,Central Park,Manhattan,Manhattan,2019-03-15,2019,3,15,18,Friday,10.37
3811,3830,3830,2019-03-17 16:54:01,2019-03-17 16:59:39,1,0.81,5.5,1.76,0.0,10.56,yellow,credit card,Greenwich Village North,West Village,Manhattan,Manhattan,2019-03-17,2019,3,17,16,Sunday,5.63
3704,3723,3723,2019-03-13 22:05:44,2019-03-13 22:24:36,1,3.57,15.0,3.76,0.0,22.56,yellow,credit card,Penn Station/Madison Sq West,Lenox Hill East,Manhattan,Manhattan,2019-03-13,2019,3,13,22,Wednesday,18.87
780,784,784,2019-03-31 17:00:03,2019-03-31 17:14:41,2,2.50,12.0,0.00,0.0,15.30,yellow,cash,Yorkville West,Lincoln Square East,Manhattan,Manhattan,2019-03-31,2019,3,31,17,Sunday,14.63
6330,6380,6380,2019-03-22 19:14:43,2019-03-22 19:21:00,1,0.71,6.0,0.00,0.0,7.80,green,credit card,Marine Park/Mill Basin,Flatlands,Brooklyn,Brooklyn,2019-03-22,2019,3,22,19,Friday,6.28
4738,4763,4763,2019-03-16 19:13:22,2019-03-16 19:53:19,6,3.77,24.0,0.00,0.0,27.30,yellow,cash,Little Italy/NoLiTa,Midtown East,Manhattan,Manhattan,2019-03-16,2019,3,16,19,Saturday,39.95
4953,4980,4980,2019-03-23 07:54:29,2019-03-23 07:57:13,5,1.17,5.0,1.00,0.0,9.30,yellow,credit card,Gramercy,Murray Hill,Manhattan,Manhattan,2019-03-23,2019,3,23,7,Saturday,2.73
3156,3171,3171,2019-03-20 07:31:39,2019-03-20 07:44:06,2,2.05,10.0,2.66,0.0,15.96,yellow,credit card,Lincoln Square East,Midtown East,Manhattan,Manhattan,2019-03-20,2019,3,20,7,Wednesday,12.45
3657,3676,3676,2019-03-10 14:02:58,2019-03-10 14:11:32,2,1.18,7.5,2.16,0.0,12.96,yellow,credit card,Union Sq,Murray Hill,Manhattan,Manhattan,2019-03-10,2019,3,10,14,Sunday,8.57
5696,5733,5733,2019-03-11 15:26:54,2019-03-11 15:31:16,1,1.12,5.5,0.00,0.0,6.30,green,cash,Central Park,Upper West Side North,Manhattan,Manhattan,2019-03-11,2019,3,11,15,Monday,4.37
2908,2921,2921,2019-03-22 08:41:28,2019-03-22 08:46:48,5,0.86,5.5,1.32,0.0,10.12,yellow,credit card,Upper West Side South,Lincoln Square East,Manhattan,Manhattan,2019-03-22,2019,3,22,8,Friday,5.33
3390,3408,3408,2019-03-04 19:20:29,2019-03-04 19:23:30,1,0.50,4.0,1.25,0.0,9.55,yellow,credit card,Union Sq,Gramercy,Manhattan,Manhattan,2019-03-04,2019,3,4,19,Monday,3.02
3921,3941,3941,2019-03-30 10:29:32,2019-03-30 10:41:14,1,1.58,9.0,0.00,0.0,12.30,yellow,cash,Times Sq/Theatre District,UN/Turtle Bay South,Manhattan,Manhattan,2019-03-30,2019,3,30,10,Saturday,11.70
1659,1667,1667,2019-03-02 09:51:41,2019-03-02 09:52:52,1,0.51,3.5,1.36,0.0,8.16,yellow,credit card,Lenox Hill East,Lenox Hill West,Manhattan,Manhattan,2019-03-02,2019,3,2,9,Saturday,1.18
1027,1032,1032,2019-03-23 23:34:47,2019-03-23 23:50:20,1,2.60,12.0,0.00,0.0,15.80,yellow,cash,East Village,Flatiron,Manhattan,Manhattan,2019-03-23,2019,3,23,23,Saturday,15.55
1564,1572,1572,2019-03-20 00:05:10,2019-03-20 00:17:48,1,2.85,12.0,3.16,0.0,18.96,yellow,credit card,Lower East Side,Williamsburg (North Side),Manhattan,Brooklyn,2019-03-20,2019,3,20,0,Wednesday,12.63
6262,6307,6307,2019-03-27 20:38:31,2019-03-27 20:46:53,1,1.30,7.5,0.00,0.0,8.80,green,cash,East Harlem North,Central Harlem,Manhattan,Manhattan,2019-03-27,2019,3,27,20,Wednesday,8.37
215,217,217,2019-03-15 22:59:38,2019-03-15 23:04:56,6,1.16,6.0,0.00,0.0,9.80,yellow,cash,Upper West Side South,Upper West Side North,Manhattan,Manhattan,2019-03-15,2019,3,15,22,Friday,5.30
1197,1203,1203,2019-03-06 08:11:48,2019-03-06 08:27:38,2,2.73,12.5,3.16,0.0,18.96,yellow,credit card,Hudson Sq,Midtown Center,Manhattan,Manhattan,2019-03-06,2019,3,6,8,Wednesday,15.83